.dropdown-button {
  background-color: #4caf50;
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
}

.nav-icons {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  border: 1px solid #ddd;
  margin-left: -120px !important;
  cursor: pointer;
}

.menu-item {
  padding: 12px 16px;
  cursor: pointer;
  color: black;
  background-color: whitesmoke;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #ddd;
}

.custom-dropdown:hover .dropdown-content {
  display: block;
  /* cursor: pointer; */
}

/* .menu-item {
  width: 100%;
  display: block;
  font-weight: bold;
  border: 2px solid #25d1da;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 14px;
  text-align: center;
  color: black;
  background-color: #25d1da;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-item {
  background-color: #a8edf0;
  transform: scale(1.05);
}

.menu-item {
  ring: 4;
} */
