/* .horizontal-carousel {
  width: 130%;
}

.slick-list {
  width: 100%;
}

.slick-next {
  right: 18px;
  z-index: 3;
  background-color: black;
}

.slick-prev {
  left: 18px;
  z-index: 3;
  background-color: black;
}

.slick-slide.slick-active {
  width: 500px !important;
  margin-left: 30px;
}

.slick-slide {
  width: 400px !important;
  margin-left: 30px;
}

.trending-playlist {
  text-align: start;
  padding-top: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.playlist-heading {
  margin-left: 30px;
  color: white;
  font-weight: bold;
  font-size: 35px;
}

.see-all-button {
  display: flex;
  margin: 5px;
  background-color: black;
}

.see-all-btn {
  border-radius: 25px;
  background-color: gray;
  color: white;
  font-weight: bold;
  padding: 2px 25px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.playlist-item {
  display: flex !important;
  height: 80px;
  width: 160px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}

.head-tag {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: white;
}

.para-tag {
  margin-left: 10px;
  margin-top: 1px;
  color: white;
}

.playlist-image {
  object-fit: cover;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.horizontal-img:hover .play-icon {
  opacity: 1;
} */

.horizontal-carousel {
  width: 130%;
}

.trending-playlists {
  text-align: start;
  padding-top: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.playlist-item {
  display: flex !important;
  /* align-items: center; */
  height: 80px;
  width: 160px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  /* border: 1px solid white; */
}

.playlist-image {
  height: 80px;
  width: 80px;
  object-fit: cover;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  width: 40px;
  color: white;
  opacity: 1 !important;
  transition: opacity 0.3s ease-in-out;
}

.playlist-title {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: white;
  /* overflow: hidden; */
}

.playlist-artists {
  margin-left: 10px;
  margin-top: 1px;
  color: white;
  /* overflow: hidden; */
}

.playlist-item:hover .play-icon {
  opacity: 1;
}

/* .playlist-details {
  margin-left: 10px;
} */

.playlist-heading {
  margin-left: 35px;
  color: white;
  font-weight: bold;
  font-size: 35px;
}

.see-all-button {
  display: flex;
  margin: 5px;
  background-color: black;
}

.see-all-btn {
  border-radius: 25px;
  background-color: gray;
  color: white;
  font-weight: bold;
  padding: 2px 25px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

/* Slick Carousel Styles */

.slick-list {
  width: 100%;
}

.slick-next {
  right: 18px;
  z-index: 3;
  background-color: black;
}

.slick-prev {
  left: 18px;
  z-index: 3;
  background-color: black;
}

.slick-slide.slick-active {
  width: 500px !important;
  margin-left: 30px;
}

.slick-slide {
  width: 400px !important;
  margin-left: 30px;
}