.allportrait-title {
  color: black;
  display: flex;
  align-items: center;
  text-align: start;
  padding-top: 45px;
  justify-content: space-between;
}

.allportrait-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  padding: 10px;
  /* margin-top: 10px; */
}

.allportrait-data {
  position: relative;
  height: 241px;
  width: 242px;
}

.allportrait-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.allportrait-name {
  padding-top: 80px;
  color: white;
  margin-left: 20px;
  font-weight: bold;
  font-size: 40px;
  text-transform: capitalize;
}

.card-heading {
  padding: 15px 15px;
  color: white;
  font-weight: bold;
  display: flex;
  width: 85%;
}

.p-tag {
  padding: 0px 10px;
  color: black;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
  height: 81%;
  width: 80%;
  border-radius: 10px;
}

.allportrait-data:hover .overlay {
  opacity: 1;
}

.icon1,
.icon3 {
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.icon2 {
  color: white;
  font-size: 75px;
  cursor: pointer;
}

/* For screen widths up to 768px */

@media (max-width: 768px) {
  .allportrait-title {
    padding-top: 30px;
    justify-content: center;
  }

  .allportrait-name {
    padding-top: 50px;
    padding-left: 15px;
    margin-left: 0;
    font-size: 32px;
  }

  .allportrait-card {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 42px;
    padding: 20px;
  }

  .allportrait-data {
    height: 180px;
    width: 180px;
  }

  .overlay {
    height: 70%;
    width: 70%;
  }
}

/* For screen widths from 768px to 1024px */
/* @media (min-width: 768px) and (max-width: 1024px) {
  .allportrait-title {
    padding-top: 40px;
  }

  .allportrait-name {
    padding-top: 60px;
    font-size: 36px;
  }

  .allportrait-card {
    gap: 12px;
    padding: 8px;
  }

  .allportrait-data {
    height: 200px;
    width: 200px;
  }

  .overlay {
    height: 75%;
    width: 75%;
  }
} */
