.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #232323;
  color: white;
  padding: 0px;
  margin: 0px;
}

.navbar-bg {
  background-color: transparent;
}

.navbar-brand {
  font-size: 35px;
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: white;
  font-weight: bold;
}

.navbar-nav .nav-link.active {
  color: #FF9900;
}

.navbar-form .form-control {
  border-color: #FF9900;
  color: white;
  background-color: #333;
}

.navbar-nav .nav-item .dropdown-menu {
  background-color: #333;
}

.navbar-nav .nav-item .dropdown-item {
  color: white;
}

.navbar-nav .nav-item .dropdown-item:hover {
  background-color: #FF9900;
  color: black;
}

.amazon-music-logo {
  width: 140px;
  height: 30px;
  margin-left: 20px;
}

.nav-icons {
  font-size: 30px;
  margin-left: 30px;
  margin-top: -3 !important;
}

.nva-icon-text {
  margin-left: 10px;
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box {
  display: flex;
  align-items: center;
}

.search-icon {
  height: 36px;
  width: 35px;
  cursor: pointer;
  background-color: white;
  color: black;
  border-radius: 0px 15px 15px 0px;
  padding-right: 10px;
}

.search-input {
  border: none;
  border-radius: 15px 0px 0px 15px;
}

.right-div {
  display: flex;
  align-items: center;
}

.main-search a {
  text-decoration: none;
  margin-left: 20px;
}

div.right-div .dropdown-menu.show {
  margin-left: -170px !important;
}

@media (max-width: 768px) {

  .navbar {
    flex-direction: row;
    align-items: center;
    height: 65px;
    background-color: #333;
  }

  .navbar-brand {
    font-size: 28px;
  }

  .navbar-nav .nav-link {
    font-size: 16px;
  }

  .nav-icons {
    font-size: 1.5rem;
  }

  .navbar-collapse {
    display: flex;
    flex-direction: column !important;
  }

  .search-box {
    margin-right: 10px;
  }

  .search-icon {
    height: 36px;
    width: 32px;
    padding-right: 8px;
    margin-right: 10px;
  }

  .amazon-music-logo {
    width: 70px;
    height: 50px;
    margin-left: 10px;
    margin-top: -5px;
  }

  .navbar-nav{
    flex-direction: row !important;
  }

  .linkA{
    margin-left: -27px;
  }

  .searchIcon{
    margin-top: 12px;
    margin-right: 10px;
  }

  .resposive-search {
    margin-left: 0px;
    display: flex;
    align-items: center;
  }

  .resposive-search-bar {
    border: none;
    background-color: #333;
    color: #333;
    width: 200px;
  }

  .resposive-search-bar::placeholder {
    color: white;
    opacity: 2;
  }

  .cancel-button {
    position: absolute;
    top: 32%;
    right: 0px;
    color: white;
    background: none;
    font-size: 15px;
    cursor: pointer;
    border: none;
    align-items: center;
    margin-right: 5px;
  }

  .nav-user-icon{
    margin-top: 10px;
    font-size: 1.7rem;
  }
}