.adp-background-color {
  background-color: black;
}

.adp-image-card {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  justify-content: space-between;
  background-color: black;
  margin-top: 76px;
  margin-bottom: 20px;
}

.adp-image {
  width: 22rem;
  height: 22rem;
  object-fit: cover;
  margin-right: 30px;
  margin-left: 30px;
}

.content {
  flex: 1;
  color: white;
  margin-top: 0px;
}

.adp-h6-tag {
  font-weight: bold;
  color: aqua;
}

.adp-heading {
  font-size: 3rem;
  margin-top: 0px;
  font-weight: bold;
}

.adp-h5-tag {
  font-size: 1.5rem;
}

.actions {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.adp-play-button {
  background-color: aqua;
  color: black;
  border: none;
  /* padding: 8px 12px; */
  border-radius: 25px;
  cursor: pointer;
  width: 100px;
  height: 50px;
}

.adp-icon-button {
  color: black;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;  
}

.adp-play-button:hover {
  background-color: greenyellow;
}

.sdp-image-card {
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  border-bottom: 1px inset rgba(255, 255, 255, 0.15);
  width: 100%;
}

.sdp-image-card:hover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: gray;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border-bottom: 1px inset rgba(255, 255, 255, 0.15);
}
.sdp-image-number {
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
  color: white;
}

.sdp-image-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-left: 0px;
  position: relative;
  width: 60%;
}

.sdp-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.sdp-text-container {
  flex: 1;
  color: white;
}

.sdp-additional-content {
  display: flex;
  align-items: center;
}

.sdp-heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: bold;
  margin-left: 0px;
  margin-right: 300px;
  color: white;
  width: 20%;

}

.sdp-duration {
  color: white;
  margin-right: 200px;
  width: 10%;

}

.sdpa-icons {
  display: flex;
  gap: 30px;
  color: white;
  margin-right: 30px;
  width: 10%;
 opacity: 1;
}

.sdp-icon {
  font-size: 24px;
  cursor: pointer;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 14%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.play-icon-inner {
  font-size: 26px;
  color: white;
}

.sdp-image-card:hover .play-icon {
  opacity: 1;
}